@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@font-face {
    font-family: DotGothic16;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/DotGothic16.ttf") format("truetype");
}

@font-face {
    font-family: SortsMillGoudy;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/SortsMillGoudy.ttf") format("truetype");
}

@theme {
    --color-midnight: #202052;
    --font-primary: "DotGothic16", monospace;
    --font-secondary: "SortsMillGoudy", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 20s linear infinite;
    }

    .animate-spin-slow-reverse {
        animation: spin 20s linear infinite reverse;
    }
}
