@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*Custom tailwind colors*/
@theme {
  --color-midnight: #202052;
  --font-display: "DotGothic16", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/DotGothic16-Regular.ttf") format("truetype");
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/public/fonts/SortsMillGoudy-Regular.ttf") format("ttf");
}