@import "tailwindcss";

:root {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-midnight-dark);
    color: #171717;
}

@theme inline {
    --color-midnight-dark: #202052;
    --color-midnight-soft: #30305e;
    --color-midnight-light: #353591;
    --font-primary: var(--font-primary);
    --font-secondary: var(--font-secondary);
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 20s linear infinite;
    }

    .animate-spin-slow-reverse {
        animation: spin 20s linear infinite reverse;
    }
}
