@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}


@font-face {
  font-family: DotGothic16-Regular;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/DotGothic16-Regular.ttf") format("ttf");
}

@font-face {
  font-family: SortsMillGoudy-Regular;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/public/fonts/SortsMillGoudy-Regular.ttf") format("ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-midnight: #202052;
  --font-primary: "DotGothic16", mono;
  --font-secondary: "SortsMillGoudy-Regular", sans;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
