@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
}

@theme inline {
    --color-midnight: #202052;
    --font-primary: var(--font-primary);
    --font-secondary: var(--font-secondary);
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 20s linear infinite;
    }

    .animate-spin-slow-reverse {
        animation: spin 20s linear infinite reverse;
    }
}
